<div class="module-content">
  <div class="module-header">
    <h5 class="module-header-title"><i class="fas fa-tree"></i>树示例</h5>
  </div>
  <div class="module-body">
    <div class="panel">
      <div class="panel-body">
        <ngg-tree style="display: block;" [treeData]="tree"></ngg-tree>
      </div>
    </div>
    <!--<div class="panel" style="margin-top:10px;">
      <div class="panel-body">
        <ngg-tree style="display: block;" [treeData]="tree" [collapse]="false"></ngg-tree>
      </div>
    </div>-->
  </div>
</div>
