<div class="panel">
  <div class="panel-body">
    <ngg-checkbox name="check1" [(checked)]="check1"></ngg-checkbox>
    <ngg-checkbox name="check2" [(checked)]="check2"></ngg-checkbox>
  </div>
</div>
<div class="panel" style="margin-top: 10px">
  <div class="panel-body">
    <i class="fas fa-coffee">美式咖啡</i>
    <ngg-checkbox name="check1" [(checked)]="check1"></ngg-checkbox>
    <i class="fas fa-coffee" style="margin-left: 5px">卡布奇诺</i>
    <ngg-checkbox name="check2" [(checked)]="check2"></ngg-checkbox>
  </div>
</div>