.base-map{
    height: 100%;
    position: relative;
}
.base-map .gaode-base-map{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0px;
    left: 0px;
}
.base-map .esri-base-map{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0px;
    left: 0px;
    z-index: 1
}