<div class="module-content">
  <div class="module-header">
    <h5 class="module-header-title"><i class="fas fa-archive"></i>选项示例</h5>
  </div>
  <div class="module-body">
    <ngg-tabset>
      <ngg-tab [heading]="'基本信息'" [active]="true">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">Panel1</div>
          </div>
          <div class="panel-body"></div>
        </div>
      </ngg-tab>
      <ngg-tab [heading]="'设计信息'">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">Panel2</div>
          </div>
          <div class="panel-body"></div>
        </div>
      </ngg-tab>
    </ngg-tabset>

    <ngg-tabset2 style="margin-top: 10px;" [align]="'center'">
      <ngg-tab2 [heading]="'基本信息'" [active]="true">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">Panel1</div>
          </div>
          <div class="panel-body"></div>
        </div>
      </ngg-tab2>
      <ngg-tab2 [heading]="'设计信息'">
        <div class="panel">
          <div class="panel-heading">
            <div class="panel-title">Panel2</div>
          </div>
          <div class="panel-body"></div>
        </div>
      </ngg-tab2>
    </ngg-tabset2>
  </div>
</div>
