<div class="module-content">
  <div class="module-header">
    <h5 class="module-header-title"><i class="fas fa-chart-line"></i>图表示例</h5>
  </div>
  <div class="module-body">
    <div class="panel">
      <div class="panel-body">
        <ngg-echart style="height: 300px" [option]="option.chart1"></ngg-echart>
      </div>
    </div>
    <div class="panel" style="margin-top:10px">
      <div class="panel-body">
        <ngg-echart style="height: 300px" [option]="option.chart2"></ngg-echart>
      </div>
    </div>
  </div>
</div>
