<div class="panel">
  <div class="panel-heading">
    <div class="panel-title">
      按钮颜色
    </div>
  </div>
  <div class="panel-body">
    <button class="btn btn-primary">primary</button>
    <button class="btn btn-success">success</button>
    <button class="btn btn-warning">warning</button>
    <button class="btn btn-danger">danger</button>
    <button class="btn btn-default">default</button>
  </div>
</div>

<div class="panel" style="margin-top: 10px;">
  <div class="panel-heading">
    <div class="panel-title">
      按钮状态
    </div>
  </div>
  <div class="panel-body">
    <button class="btn btn-primary">normal</button>
    <button class="btn btn-primary active">active</button>
    <button class="btn btn-success">normal</button>
    <button class="btn btn-success active">active</button>
    <button class="btn btn-warning">normal</button>
    <button class="btn btn-warning active">active</button>
    <button class="btn btn-danger">normal</button>
    <button class="btn btn-danger active">active</button>
    <button class="btn btn-default">normal</button>
    <button class="btn btn-default active">active</button>
  </div>
</div>

<div class="panel" style="margin-top: 10px;">
  <div class="panel-heading">
    <div class="panel-title">
      按钮尺寸
    </div>
  </div>
  <div class="panel-body">
    <button class="btn btn-xs btn-primary">xsmall</button>
    <button class="btn btn-sm btn-primary">small</button>
    <button class="btn btn-primary">default</button>
    <button class="btn btn-lg btn-primary">large</button>
  </div>
</div>

<div class="panel" style="margin-top: 10px;">
  <div class="panel-heading">
    <div class="panel-title">
      标签正色
    </div>
  </div>
  <div class="panel-body">
    <label class="label label-primary">primary</label>
    <label class="label label-success">success</label>
    <label class="label label-warning">warning</label>
    <label class="label label-danger">danger</label>
    <label class="label label-blue">blue</label>
    <label class="label label-purple">purple</label>
    <label class="label label-default">default</label>
  </div>
</div>

<div class="panel" style="margin-top: 10px;">
  <div class="panel-heading">
    <div class="panel-title">
      标签反色
    </div>
  </div>
  <div class="panel-body">
    <label class="label label-primary-o">primary</label>
    <label class="label label-success-o">success</label>
    <label class="label label-warning-o">warning</label>
    <label class="label label-danger-o">danger</label>
    <label class="label label-default-o">default</label>
  </div>
</div>

<div class="panel" style="margin-top: 10px;">
  <div class="panel-heading">
    <div class="panel-title">
      字体颜色
    </div>
  </div>
  <div class="panel-body">
    <span class="text-primary">primary</span>
    <span class="text-success">success</span>
    <span class="text-warning">warning</span>
    <span class="text-danger">danger</span>
  </div>
</div>

