/*地图右边抽屉*/
.drawer-panel {
    position: absolute;
    z-index: 2;
    border-left: 1px solid #CDCECF;
    border-bottom: 1px solid #CDCECF;
    top: 0;
    margin :0px!important;
    /*背景透明*/
    background-color: rgba(255, 255, 255, 0.5);
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
    -ms-transition-duration: .25s
}
.drawer-panel .drawer-panel-btn {
    display: block;
    width: 55px;
    height: 24px;
    border: 1px solid #CDCECF;
    border-right: 1px solid #f2f4f8 !important;
    border-radius: 8px 0 0 8px;
    padding: 0px 1px 6px 0px;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    color: #868686;
    box-shadow: inset 0 .2em 0 rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 .2em 0 rgba(0, 0, 0, .05);
    background: #f2f4f8;
    text-align: center
}

.drawer-panel .drawer-panel-body {
    /*  height: 100%;*/
    overflow-y: hidden;
    overflow-x: hidden;
    display: block;
    margin-top: -41px;
    padding-top : 41px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*背景透明*/
    background-color: rgba(255, 255, 255, 0);
    transition-duration: .25s;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
    -ms-transition-duration: .25s
}

.drawer-panel .drawer-panel-btn:hover {
    border-color: #f05050;
    color: #ffffff;
    background-color:#f05050;
}
.drawer-panel.drawer-open .drawer-panel-btn{
    border-color: #f05050;
    color: #ffffff;
    background-color:#f05050;
}

.drawer-panel.drawer-open {
    right: 0;
    top: 0;
    z-index: 1051;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.drawer-panel-head{
    background-color : #f05050;
    color :white;
    border-color : #ddd;
    padding : 10px 15px;
    border-top-left-radius : 3px;
    border-top-right-radius :3px;
    text-align: center;
    height: 41px;
}



.map-thematic-panel{
    width: 260px;
    height: 100%;
    right: -261px;
}
.map-thematic-panel-btn {
    left: -57px;
    top: 100px;
    position: absolute;
}
.map-thematic-panel.drawer-open .map-thematic-panel-btn {
    left: -55px;
    top: 20px;
    position: absolute;
}

.panel{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}