<div class="module-content">
  <div class="module-header">
    <h5 class="module-header-title"><i class="fas fa-search"></i>搜索示例</h5>
  </div>
  <div class="module-body">
    <div class="panel">
      <div class="panel-body">
        <div class="search-input">
          <i class="fas fa-search search-icon"></i>
          <input class="form-control" placeholder="搜索组件" [(ngModel)]="option.keyword">
          <i class="close-icon fas fa-times close-link close-link-sm" *ngIf="option.keyword.length > 0" (click)="option.keyword =''"></i>
        </div>
      </div>
    </div>

    <div class="panel" style="margin-top: 10px;">
      <div class="panel-body">
        <div class="search-area">
          <nz-month-picker style="margin-right:5px;" [(ngModel)]="option.start_date" [nzPlaceholder]="'选择月份'" [nzAllowClear]="false"></nz-month-picker>
          <nz-date-picker style="margin-right:5px;" [(ngModel)]="option.start_date" [nzPlaceholder]="'选择日期'"></nz-date-picker>
          <nz-date-picker style="margin-right:5px;" [(ngModel)]="option.start_date" [nzPlaceholder]="'选择时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzShowTime]="true"></nz-date-picker>
          <div class="search-space"></div>
          <div class="search-input search-input-sm">
            <i class="fas fa-search search-icon"></i>
            <input class="form-control" placeholder="搜索组件" [(ngModel)]="option.keyword">
            <i class="close-icon fas fa-times close-link close-link-sm" *ngIf="option.keyword.length > 0" (click)="option.keyword =''"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="panel" style="margin-top: 10px;">
      <div class="panel-body">
        <div class="search-area">
          <!--<nz-date-picker style="margin-right:5px;" [(ngModel)]="option.start_date" [nzFormat]="'YYYY-MM-DD'" [nzDisabledDate]="disabledStartDate"  [nzPlaceholder]="'开始日期'" [nzAllowClear]="false"></nz-date-picker> 至
          <nz-date-picker style="margin-left: 5px;margin-right:5px;" [(ngModel)]="option.end_date" [nzFormat]="'YYYY-MM-DD'" [nzDisabledDate]="disabledEndDate"  [nzPlaceholder]="'结束日期'" [nzAllowClear]="false"></nz-date-picker>-->
          <nz-range-picker [(ngModel)]="option.range"></nz-range-picker>
          <input nz-input style="width:250px;margin-right:5px;" [ngModel]="(option.range[0] | date : 'yyyy-MM-dd') + '至' + (option.range[1] | date : 'yyyy-MM-dd')" />
          <div class="search-space"></div>
          <div class="search-input search-input-sm">
            <i class="fas fa-search search-icon"></i>
            <input class="form-control" placeholder="搜索组件" [(ngModel)]="option.keyword">
            <i class="close-icon fas fa-times close-link close-link-sm" *ngIf="option.keyword.length > 0" (click)="option.keyword =''"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


