.panel-body{
  animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}