$color-primary:   #fc9272;
$color-primary-active:   #ef3b2c;
$color-primary-hover: #fc927280;
$color-primary-active-hover:  #ef3b2c80;
$color-primary-bg : #fc927225;

$color-success : #22d7bb;
$color-warning : #ffc442;
$color-danger : #ff5b57;