<div class="panel">
  <div class="panel-body">
    <ngg-radio name="check1" [value]="'value1'" [(checked)]="check1"></ngg-radio>
    <ngg-radio name="check2" [value]="'value2'" [(checked)]="check1"></ngg-radio>
  </div>
</div>
<div class="panel" style="margin-top: 10px">
  <div class="panel-body">
    <i class="fas fa-coffee">美式咖啡</i>
    <ngg-radio name="check1" [value]="'usa'" [(checked)]="check2"></ngg-radio>
    <i class="fas fa-coffee" style="margin-left: 5px">卡布奇诺</i>
    <ngg-radio name="check2" [value]="'cap'" [(checked)]="check2"></ngg-radio>
  </div>
</div>
